
  <!--<div id="<%= dom_id friend %>">
    <p>
      <strong>First name:</strong>
      <%= friend.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= friend.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= friend.email %>
    </p>

  </div>


<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First name.</th>
        <th scope="col">Last name.</th>
        <th scope="col">Email.</th>
      </tr>
    </thead>
    <tbody>
  -->

    <tr>
      <td><%= friend.first_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= link_to "Show this friend", friend, class:"btn btn-light" %></td>
    </tr>

  <!--
  </tbody>
  </table>
</div>
-->