
<h1>Friends List.</h1>
<h3 class="cta-title">In this section, you will find all the friends registered.</h3>
<br>
<% if user_signed_in? %>
  <div id="friends">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">First name.</th>
          <th scope="col">Last name.</th>
          <th scope="col">Email.</th>
          <th scope="col">Options.</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <% if friend.user == current_user %>
            <tr>
            <td><%= friend.first_name %></td>
            <td><%= friend.last_name %></td>
            <td><%= friend.email %></td>
            <td><%= link_to "Show this friend", friend, class:"btn btn-light" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
  <br>
  <%= link_to "New friend", new_friend_path, class:"btn btn-success" %>
<% else %>
  <h4>Once you login, you can see this table.</h4>
<% end %>
<br><br>
<div>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio sapiente molestias
    consectetur. Fuga nulla officia error placeat veniam, officiis rerum laboriosam
    ullam molestiae magni velit laborum itaque minima doloribus eligendi! Lorem ipsum,
    olor sit amet consectetur adipisicing elit. Optio sapiente molestias consectetur.
    Fuga nulla officia error placeat veniam, officiis rerum laboriosam ullam molestiae
    magni velit laborum itaque minima doloribus eligendi!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio sapiente molestias
    consectetur. Fuga nulla officia error placeat veniam, officiis rerum laboriosam
    ullam molestiae magni velit laborum itaque minima doloribus eligendi! Lorem ipsum,
    dolor sit amet consectetur adipisicing elit. Optio sapiente molestias consectetur.
    Fuga nulla officia error placeat veniam, officiis rerum laboriosam ullam molestiae
    magni velit laborum itaque minima doloribus eligendi!
    orem ipsum, dolor sit amet consectetur adipisicing elit. Optio sapiente molestias
    consectetur. Fuga nulla officia error placeat veniam, officiis rerum laboriosam
    ullam molestiae magni velit laborum itaque minima doloribus eligendi! Lorem ipsum,
    dolor sit amet consectetur adipisicing elit. Optio sapiente molestias consectetur.
    Fuga nulla officia error placeat veniam, officiis rerum laboriosam ullam molestiae
    magni velit laborum itaque minima doloribus eligendi!
  </p>     
</div>  
<br><br>
